[paths]
source =
   src
   */site-packages

[run]
relative_files = True
branch = true
source =
    map_parallel
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
